<div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="project_video">
        <div class="project_card_header">
          <h2 class="project_card_title">Eind project on Le Wagon.</h2>
          <span class="project_card_subtitle">Virtual Styler</span>
        </div>
          <div class="video_youtube">
            <iframe width="90%" height="66%" class="video" src="https://www.youtube.com/embed/g7OyPhu_LVU" title="virtual-styler" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
        <h2 class="project_description" >The idea was that the customer wants to furnish his/her home. But the customer finds it difficult to furnish his/her home. This website helps the customer to get a good idea and the customer can also order the products to complete his/her home.</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="project_spacetrip">
      <h2 class="project_spacetrip_title">Project Spacetrip</h2>
        <div id="slideshow_project" class="slideshow_project">
          <%= cl_image_tag("Spacetrip_-_1_ert0oz", class: "active_project", alt: "Photo 1") %>
          <%= cl_image_tag("Spacetrip_-_2_xklcit", alt: "Photo 2") %>
          <%= cl_image_tag("Spacetrip_-_3_ls118i", alt: "Photo 3") %>
          <%= cl_image_tag("Spacetrip_-_4_xoyob0", alt: "Photo 4") %>
          <%= cl_image_tag("Spacetrip_-_5_ft0cqo", alt: "Photo 5") %>
        </div>
        <div class="btn_container_project">
          <button class="btn_project" onclick="showSlideP(1)">Photo 1</button>
          <button class="btn_project" onclick="showSlideP(2)">Photo 2</button>
          <button class="btn_project" onclick="showSlideP(3)">Photo 3</button>
          <button class="btn_project" onclick="showSlideP(4)">Photo 4</button>
          <button class="btn_project" onclick="showSlideP(5)">Photo 5</button>
        </div>
        <script>
          let currentSlide = 1;

          function showSlideP(slideNumber) {
            const slides = document.querySelectorAll('#slideshow_project img');
            const buttons = document.querySelectorAll('.btn_project');

            slides.forEach((slide) => {
              slide.classList.remove('active_project');
            });

            buttons.forEach((button) => {
              button.classList.remove('active_project');
            });

            slides[slideNumber - 1].classList.add('active_project');
            buttons[slideNumber - 1].classList.add('active_project');

            currentSlide = slideNumber;
          }
        </script>
          <h2 class="desription_spacetrip">Space Trip was the very first project on Le Wagon. The idea was to build something similar as Airbnb, but then use your own fantasy.
                                        SpaceTrip is a website where customers can book a space trip. The customer can choose different trips in spaces and create their account. Customers can then see what they bookend.</h2>
      </div>
    </div>
  </div>
